html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family1;
    font-size: 22px;
    color: $black;
    line-height: 26px;
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}

.lock {
    overflow: hidden;
}

a:hover {
    text-decoration: underline;
}

.mobile-menu {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: -500px;
    transform: translateX(-50%);
    text-align: center; 
    padding: 76px 0;
    background-color: #fff;
    width: 100%;
    overflow: auto;
    transition: left .4s;

    &__list-item--sublist {
        position: relative;
        display: flex;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    &__sublist {
        position: absolute;
        top: 100%;
        background-color: #fff;
        padding: 41px 26px 29px 31px !important;
        width: 220px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .4s ease 0s;
        transform: translateY(30px);
    }

    &__arrow {
        transition: all .3s;
        margin: 0 0 0 5px;
    }
}

._visible {
    left: 50%;
}