html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family1;
    font-size: 22px;
    color: $black;
    line-height: 26px;
}

.container {
    max-width: $container;
    margin: 0 auto;
    padding: 0 15px;
}

.lock {
    overflow: hidden;
}


.mobile-menu {
    z-index: 4;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -1000px;
    transform: translateX(-50%);
    text-align: center; 
    padding: 76px 15px;
    background-color: #F2FCFE;
    width: 100%;
    transition: left .4s;
    overflow-y: auto;

    &__list-item {
        margin-bottom: 25px;
    }

    &__list-link {
        color: $black;
        font-weight: 500;
    }

    &__list-item--sublist {
        position: relative;
        display: flex;
        margin: 0 auto 25px auto;
        align-items: center;
        justify-content: center;
    }

    &__sublist {
        position: absolute;
        top: 100%;
        background-color: #fff;
        padding: 41px 26px 29px 31px !important;
        width: 220px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .4s ease 0s;
        transform: translateY(30px);
    }

    &__sublist-item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__sublist-link {
        color: $black;
    }

    &__arrow {
        transition: all .3s;
        margin: 0 0 0 5px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    &__btn {
        margin-right: 17px;
        color: $black;
        font-weight: 500;

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn--border {
        border: 2px solid $black;
        padding: 12px 15px;
    }
}

._visible {
    left: 50%;
}

.go-to-top {
    position: fixed;
    right: 30px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: none;

    &:hover,
    &:focus {
        filter: brightness(1.5);
        outline: none;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        width: 5px; 
        height: 25px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: $black;
    }

    &::after {
        top: 21px;
        width: 15px;
        height: 15px;
        transform: translate(-50%, -50%) rotate(45deg);
        border-top: 5px solid $black;
        border-left: 5px solid $black;
    }
}