@media (max-width: 1090px) {
    .header__inner {
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .header__btn--border {
        padding: 12px 15px 12px 15px;
    }
}

@media (max-width: 882px) {
    // .menu__body {
    //     position: absolute; 
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: rgba($color: #000, $alpha: .2);
    //     transition: left .3s;
    //     padding: 50px 25px;
    // }

    .menu__body {
        display: none;
    }

    // .menu__list {
    //     flex-direction: column;
    // }

    .header__buttons {
        padding-left: 0;
        display: none;
        // position: absolute;
        // bottom: 0;
    }

    .menu__burger-icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        justify-self: flex-end;
        margin-left: auto;

        span, &::before, &::after {
            position: absolute;
            right: 0;
            height: 10%;
            width: 100%;
            transition: all .3s;
            background-color: #000;
        }

        &::before, &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }
    }
}