@media (max-width: 1090px) {
    .header__inner {
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .header__btn--border {
        padding: 12px 15px 12px 15px;
    }
}

@media (max-width: 882px) {
    .menu__body {
        display: none;
    }

    .header__buttons {
        padding-left: 0;
        display: none;
    }

    .header__menu {
        padding: 0;
    }

    .menu__burger-icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        justify-self: flex-end;
        margin-left: auto;
        margin-top: 36px;

        span, &::before, &::after {
            position: absolute;
            right: 0;
            height: 10%;
            width: 100%;
            transition: all .3s;
            background-color: #000;
        }

        &::before, &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // === hero ===
    .hero__inner {
        display: flex;
        flex-direction: column;
    }
    .hero__item--pink {
        display: none;
    }
    
    .hero__box {
        justify-content: center;
    }

    .hero__info {
        order: -1;
        position: relative;
        top: 0;
        right: 0;   
        left: 0;
        bottom: 0;
        margin: 50px auto; 
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .hero__text {
        max-width: 100%;
    }
}

@media (max-width: 743px) {
    // === hero ===
    .hero__item-img {
        max-width: 100%;
    }
}

@media (max-width: 465px) {
    // === header ===
    .header__inner {
        min-height: 0;
    }

    .header__menu {
        padding-bottom: 34px;
    }

    // === hero ===
    .hero__info {
        margin: 35px auto;
    }
    
    .hero__title {
        font-size: 70px;
        margin-bottom: 14px;
    }

    .hero__text {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    .hero__btn {
        line-height: 18px;
        padding: 20px 44px;
    }

    .hero__btn-white {
        padding: 18px 44px;
    }
}

@media (max-width: 437px) {
    // === hero ===
    .hero__buttons {
        display: flex;
        flex-direction: column;
    }

    .hero__btn-black {
        margin-bottom: 20px;
        margin-right: 0;
    }
}

@media (max-width: 410px) {
    // === hero ===
    .hero__title {
        font-size: 64px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }

    .hero__btn {
        font-size: 20px;
    }
}

@media (max-width: 370px) {
    .mobile-menu__btn {
        font-size: 20px;
    }

    .mobile-menu__btn--border {
        padding: 10px;
    }

    // === hero ===
    .hero__title {
        font-size: 58px;
        margin-bottom: 10px;
    }

    .hero__info {
        margin: 10px auto 30px auto;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }
}

@media (max-width: 338px) {
    // === hero ===
    .hero__title {
        font-size: 54px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }
}