@media (max-width: 1090px) {
    .header__inner {
        padding: 0;
    }
}

@media (max-width: 1000px) {
    .header__btn--border {
        padding: 12px 15px 12px 15px;
    }
}

@media (max-width: 882px) {
    .menu__body {
        display: none;
    }

    .header__buttons {
        padding-left: 0;
        display: none;
    }

    .header__menu {
        padding: 0;
    }

    .menu__burger-icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        justify-self: flex-end;
        margin-left: auto;
        margin-top: 36px;

        span, &::before, &::after {
            position: absolute;
            right: 0;
            height: 10%;
            width: 100%;
            transition: all .3s;
            background-color: #000;
        }

        &::before, &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // === hero ===
    .hero__inner {
        display: flex;
        flex-direction: column;
    }
    .hero__item--pink {
        display: none;
    }
    
    .hero__box {
        justify-content: center;
    }

    .hero__info {
        order: -1;
        position: relative;
        top: 0;
        right: 0;   
        left: 0;
        bottom: 0;
        margin: 50px auto; 
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .hero__text {
        max-width: 100%;
    }

    // === cards ===
    .cards__title {
        text-align: center;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 40px;
    }

    .cards__text {
        text-align: center;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 40px;
    }
}

@media (max-width: 783px) {
    // === cards ===
    .cards__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 35px;
    }

    .cards__item {
        max-width: 100%;
    }
}

@media (max-width: 743px) {
    // === hero ===
    .hero {
        padding-bottom: 25px;
    }

    .hero__item-img {
        max-width: 100%;
    }

    // === cards ===
    .cards {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .cards__title {
        text-align: center;
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 35px;
    }
}

@media (max-width: 665px) {
    // === cards ===
    .cards__title {
        font-size: 54px;
        line-height: 59px;
    }

    .cards__text {
        margin-bottom: 25px;
    }
}

@media (max-width: 565px) {
    // === cards ===
    .cards__title {
        font-size: 47px;
        line-height: 54px;
        margin-bottom: 30px;
    }

    .cards__text {
        font-size: 20px;
        line-height: 24px;
    }

    .cards__item-logo {
        margin-bottom: 30px;
    }

    .cards__item-title {
        font-size: 47px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .cards__item-text {
        font-size: 21px;
        margin-bottom: 30px;
    }
}

@media (max-width: 493px) {
    // === cards ===
    .cards__title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 465px) {
    // === header ===
    .header__inner {
        min-height: 0;
    }

    .header__menu {
        padding-bottom: 34px;
    }

    // === hero ===
    .hero__info {
        margin: 35px auto;
    }
    
    .hero__title {
        font-size: 70px;
        margin-bottom: 14px;
    }

    .hero__text {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    .hero__btn {
        line-height: 18px;
        padding: 20px 44px;
    }

    .hero__btn-white {
        padding: 18px 44px;
    }
}

@media (max-width: 437px) {
    // === hero ===
    .hero__buttons {
        display: flex;
        flex-direction: column;
    }

    .hero__btn-black {
        margin-bottom: 20px;
        margin-right: 0;
    }

    // === cards ===
    .cards__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 25px;    
    }

    .cards__text {
        font-size: 18px;
        line-height: 22px;
    }

    .cards__item-logo {
        margin-bottom: 20px;
        width: 85px;
        height: 85px;
    }

    .cards__item-title {
        font-size: 44px;
        line-height: 46px;
        margin-bottom: 20px;
    }

    .cards__item-text {
        font-size: 18px;
        margin-bottom: 20px;
    }

    .cards__item-link {
        font-size: 22px;

        &::after {
            width: 106px;
        }
    }
}

@media (max-width: 410px) {
    // === hero ===
    .hero {
        padding-bottom: 25px;
    }
    
    .hero__title {
        font-size: 64px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }

    .hero__btn {
        font-size: 20px;
    }
}

@media (max-width: 388px) {
    // === cards ===
    .cards__title {
        font-size: 31px;
        line-height: 35px;    
    }

    .cards__text {
        margin-bottom: 20px;
    }

    .cards__item {
        padding: 30px;
    }

    .cards__item-logo {
        margin-bottom: 15px;
        width: 80px;
        height: 80px;
    }

    .cards__item-title {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 20px;
    }

}

@media (max-width: 370px) {
    .mobile-menu__btn {
        font-size: 20px;
    }

    .mobile-menu__btn--border {
        padding: 10px;
    }

    // === hero ===
    .hero__title {
        font-size: 58px;
        margin-bottom: 10px;
    }

    .hero__info {
        margin: 10px auto 30px auto;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }
}

@media (max-width: 338px) {
    // === hero ===
    .hero__title {
        font-size: 54px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }

    // === cards ===
    .cards__title {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 22px;
    }

    .cards__item {
        padding: 25px;
    }

}