@media (max-width: 1216px) {
    // === repairs ===
    .repairs__images {
        display: none;
    }

    // === contact ===
    .contact__form {
        margin: 0 auto;
    }
}

@media (max-width: 1133px) {
    // === services ===
    .services__box {
        padding: 0; 
        flex-direction: column;
        text-align: center;   
    }

    .services__title {
        max-width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
    }

    .services__text-box {
        max-width: 100%;
    }
}

@media (max-width: 1110px) {
    // === gudget ===
    .gudget__inner {
        flex-direction: column;
    }

    .gudget__item--1 {
        margin-right: 0;
        padding: 0;
        padding-bottom: 46px;
        max-width: 80%;
        margin: 0 auto;
    }

    .gudget__item--2 {
        display: none;
    }
}

@media (max-width: 1090px) {
    .header__inner {
        padding: 0;
    }
}

@media (max-width: 1064px) {
    // === services ===
    .services__picture-title {
        font-size: 43px;
        line-height: 54px;
        margin-bottom: 47px;
    }

    .services__picture {
        border: 30px solid #65C5D2;
    }

    // === clients ===
    .clients__text {
        text-align: center;
        margin: 0 0 66px 0;
    }
}

@media (max-width: 1047px) {
    // === repairs ===
    .repairs__top {
        flex-direction: column;
    }

    .repairs__top-textbox {
        order: -1;
        margin-bottom: 50px;
        max-width: 100%;
        text-align: center;
        margin-right: 0;
    }

    .repairs__top-img{
        margin-right: 0;
    }
}

@media (max-width: 1000px) {
    .header__btn--border {
        padding: 12px 15px 12px 15px;
    }
}

@media (max-width: 970px) {
    // === services ===
    .services__picture-imgbox {
        display: none;
    }

    .services__picture-textbox {
        max-width: 100%;
        text-align: center;
    }

    .services__picture-title {
        font-size: 55px;
        line-height: 58px;
        margin-bottom: 67px;
    }
}

@media (max-width: 882px) {
    .menu__body {
        display: none;
    }

    .header__buttons {
        padding-left: 0;
        display: none;
    }

    .header__menu {
        padding: 0;
    }

    .menu__burger-icon {
        display: block;
        z-index: 5;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        justify-self: flex-end;
        margin-left: auto;
        margin-top: 36px;

        span, &::before, &::after {
            position: absolute;
            right: 0;
            height: 10%;
            width: 100%;
            transition: all .3s;
            background-color: #000;
        }

        &::before, &::after {
            content: '';
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            transform: translateY(-50%);
        }
    }

    // === hero ===
    .hero__inner {
        display: flex;
        flex-direction: column;
    }
    .hero__item--pink {
        display: none;
    }
    
    .hero__box {
        justify-content: center;
    }

    .hero__info {
        order: -1;
        position: relative;
        top: 0;
        right: 0;   
        left: 0;
        bottom: 0;
        margin: 50px auto; 
        width: 100%;
        padding: 0;
        text-align: center;
    }

    .hero__text {
        max-width: 100%;
    }

    // === cards ===
    .cards__title {
        text-align: center;
        font-size: 70px;
        line-height: 80px;
        margin-bottom: 40px;
    }

    .cards__text {
        text-align: center;
        font-size: 21px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    // === services ===
    .services__slider {
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media (max-width: 869px) {
    // === repairs ===
    .accordion__item-title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 791px) {
    // === cards ===
    .cards__items {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 35px;
    }

    .cards__item {
        max-width: 100%;
    }

    // === gudget ===
    .gudget__title {
        text-align: center;
        font-size: 68px;
        line-height: 71px;
        margin-bottom: 35px;
    }

    .gudget__text {
        text-align: center;
    }

    .gudget__subtitle {
        text-align: center;
    }

    // === services ===
    .services__title {    
        font-size: 68px;
        line-height: 71px     
    }

    // === clients ===
    .clients__title {
        font-size: 68px;
        line-height: 71px;
        margin-bottom: 30px;
    }

    // === reapirs ===
    .repairs__title {
        font-size: 68px;
        line-height: 71px;
    }

    .repairs__top {
        margin-bottom: 50px;
    }

    // === contact ===
    .contact__title {
        font-size: 68px;
        line-height: 71px;
    }
}

@media (max-width: 771px) {
    // === repairs ===
    .accordion__item {
        margin-bottom: 25px;
    }

    .accordion__item-title {
        font-size: 33px;
        line-height: 39px;
    }

    .accordion__item-arrow {
        width: 35px;
        height: 35px;
    }

    .accordion__item-article, .accordion__item-number {
        font-size: 20px;
    }
}

@media (max-width: 743px) {
    // === hero ===
    .hero {
        padding-bottom: 25px;
    }

    .hero__item-img {
        max-width: 100%;
    }

    // === cards ===
    .cards {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .cards__title {
        text-align: center;
        font-size: 64px;
        line-height: 72px;
        margin-bottom: 35px;
    }

    // === gudget ===
    .gudget {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    // === services ===
    .services {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    // === clients ===
    .clients {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .clients__images {
        margin: 0 0 44px 0;
        width: 100%;
    }

    .clients__img {
        width: 85px;
        height: 85px;
    }

    // === repairs ===
    .repairs {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    // === contact ===
    .contact {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

@media (max-width: 675px) {
    // === gudget ===
    .gudget__title {
        font-size: 61px;
        line-height: 60px;
        margin-bottom: 30px;
    }

    .gudget__item-img--small {
        width: 85px;
        height: 85px;
    }

    // === services ===
    .services__title {    
        font-size: 61px;
        line-height: 60px;    
    }

    // === clients ===
    .clients__title {
        font-size: 61px;
        line-height: 60px;    
    }

    // === reapirs ===
    .repairs__title {
        font-size: 61px;
        line-height: 60px;
    }

    .accordion {
        margin-right: 0;    
        margin-left: 0;
    }

    // === contact ===
    .contact__title {
        text-align: center;
        font-size: 61px;
        line-height: 60px;
    }

    .contact__input {
        width: 90%;
    }

    .contact__form-btn {
        width: 100%;
    }
}

@media (max-width: 665px) {
    // === cards ===
    .cards__title {
        font-size: 54px;
        line-height: 59px;
    }

    .cards__text {
        margin-bottom: 25px;
    }
}

@media (max-width: 611px) {
    // === gudget ===
    .gudget__title {
        font-size: 55px;
        line-height: 56px;
    }

    .gudget__item--1 {
        max-width: 100%;
        padding-bottom: 16px;   
    }

    .gudget__item-img--small {
        width: 85px;
        height: 85px;
    }
}

@media (max-width: 565px) {
    // === cards ===
    .cards__title {
        font-size: 47px;
        line-height: 54px;
        margin-bottom: 30px;
    }

    .cards__text {
        font-size: 20px;
        line-height: 24px;
    }

    .cards__item-logo {
        margin-bottom: 30px;
    }

    .cards__item-title {
        font-size: 47px;
        line-height: 55px;
        margin-bottom: 30px;
    }

    .cards__item-text {
        font-size: 21px;
        margin-bottom: 30px;
    }
}

@media (max-width: 554px) {
    // === gudget ===
    .gudget__title {
        font-size: 50px;
        line-height: 50px;
    }

    .gudget__text {
        font-size: 21px;
    }

    .gudget__item-img--small {
        width: 75px;
        height: 75px;
    }

    // === services ===
    .services__title {    
        font-size: 50px;
        line-height: 50px;
    }

    .services__text {
        font-size: 21px;
    }

    .services__picture-text {
        font-size: 21px;
    }

    // === clients ===
    .clients__title {
        font-size: 50px;
        line-height: 50px; 
    }

    .clients__text {
        font-size: 21px;
        margin: 0 0 32px 0; 
    }

    // === reapirs ===
    .repairs__title {
        font-size: 50px;
        line-height: 50px;
    }

    .repairs__text {
        font-size: 21px;    
    }

    .accordion__item-text {
        font-size: 21px;
    }

    // === contact ===
    .contact__title {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 40px;
    }
}

@media (max-width: 530px) {
    // === services ===
    .services__picture {
        padding: 40px 23px 40px 15px;
    }

    .services__picture-title {
        font-size: 45px;
        line-height: 47px;
        margin-bottom: 30px;
    }

    .services__picture-btn {
        padding: 19px 35px;
    }
}

@media (max-width: 506px) {
    // === gudget ===
    .gudget__title {
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .gudget__subtitle {
        margin-bottom: 20px;
    }

    // === services ===
    .services__picture-title {    
        font-size: 45px;
        line-height: 45px;
        margin-bottom: 25px;
    }

    .services__slider {
        margin-top: 35px;
        margin-bottom: 35px;    
    }
}

@media (max-width: 493px) {
    // === cards ===
    .cards__title {
        font-size: 40px;
        line-height: 45px;
    }

    // === clients ===
    .clients__img {
        width: 70px;
        height: 70px;
    }

    // === repairs ===
    .accordion__item {
        padding-bottom: 20px;
    }

    .accordion__item-titlebox {
        flex-direction: column;
        text-align: center;
    }

    .accordion__item-title {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 465px) {
    // === header ===
    .header__inner {
        min-height: 0;
    }

    .header__menu {
        padding-bottom: 34px;
    }

    // === hero ===
    .hero__info {
        margin: 35px auto;
    }
    
    .hero__title {
        font-size: 70px;
        margin-bottom: 14px;
    }

    .hero__text {
        font-size: 21px;
        line-height: 23px;
        margin-bottom: 30px;
    }

    .hero__btn {
        line-height: 18px;
        padding: 20px 44px;
    }

    .hero__btn-white {
        padding: 18px 44px;
    }

    // === services ===
    .services__picture-title {    
        font-size: 36px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    .services__picture-text {
        margin-bottom: 30px;
    }

    // === clients ===
    .clients__images {
        margin: 0 0 25px 0;
    }
}

@media (max-width: 437px) {
    // === hero ===
    .hero__buttons {
        display: flex;
        flex-direction: column;
    }

    .hero__btn-black {
        margin-bottom: 20px;
        margin-right: 0;
    }

    // === cards ===
    .cards__title {
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 25px;    
    }

    .cards__item-logo {
        margin-bottom: 20px;
        width: 85px;
        height: 85px;
    }

    .cards__item-title {
        font-size: 44px;
        line-height: 46px;
        margin-bottom: 20px;
    }

    .cards__item-text {
        margin-bottom: 20px;
    }

    .cards__item-link {
        font-size: 22px;

        &::after {
            width: 106px;
        }
    }

    // === gudget ===
    .gudget__text {
        margin-bottom: 25px;
    }

    // === services ===
    .services__text {
        margin-bottom: 25px;
    }

    .services__link {
        font-size: 22px;
    }

    .services__picture {
        border: 25px solid #65C5D2;
        padding: 30px 15px;
    }

    .services__picture-text {
        font-size: 18px;    
    }

    .services__picture-btn {
        padding: 13px 33px;
        font-size: 20px;
    }

    // === clients ===
    .clients__link {
        font-size: 22px;

        &::after {
            width: 95px;
        }
    }

    // === reapirs ===
    .repairs__title {
        font-size: 45px;
        line-height: 45px;
    }

    .repairs__link {
        font-size: 22px;
    }

    .repairs__top {
        margin-bottom: 35px;
    }

    .repairs__top-textbox {
        margin-bottom: 38px;
    }

    .accordion__item-title {
        font-size: 30px;    
        margin-bottom: 6px;
    }

    .accordion__item-arrow {
        width: 30px;
        height: 29px;
    }

    // === contact ===
    .contact__title {
        font-size: 45px;
        line-height: 45px;
    }

    .contact__label-box {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .contact__input {
        margin-left: 0;
        width: 100%;
    }
}

@media (max-width: 410px) {
    // === hero ===
    .hero {
        padding-bottom: 25px;
    }
    
    .hero__title {
        font-size: 64px;
        margin-bottom: 10px;
    }

    .hero__text {
        font-size: 21px;
        margin-bottom: 25px;
    }

    .hero__btn {
        font-size: 20px;
    }

    // === clients ===
    .clients__img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 400px) {
    // === repairs ===
    .repairs__title {
        font-size: 40px;
        line-height: 45px;
    }

    // === contact ===
    .contact__title {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 390px) {
    // === cards ===
    .cards__title {
        font-size: 31px;
        line-height: 35px;    
    }

    .cards__text {
        margin-bottom: 20px;
    }

    .cards__item {
        padding: 30px;
    }

    .cards__item-logo {
        margin-bottom: 15px;
        width: 80px;
        height: 80px;
    }

    .cards__item-title {
        font-size: 40px;
        line-height: 46px;
        margin-bottom: 20px;
    }

    // === services ===
    .services__picture-title {
        font-size: 31px;
        line-height: 35px;
        margin-bottom: 20px;
    }
}

@media (max-width: 372px) {
    .mobile-menu__btn {
        font-size: 20px;
    }

    .mobile-menu__btn--border {
        padding: 10px;
    }

    // === hero ===
    .hero__title {
        font-size: 58px;
        margin-bottom: 10px;
    }

    .hero__info {
        margin: 10px auto 30px auto;
    }

    .hero__text {
        font-size: 19px;
        line-height: 21px;
        margin-bottom: 25px;
    }
    
    // === gudget ===
    .gudget__title {
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    .gudget__item-img--small {
        width: 70px;
        height: 70px;
    }

    // === services ===
    .services__title {    
        font-size: 38px;
        line-height: 40px;
        margin-bottom: 20px;
    }

    // === clients ===
    .clients__title {
        font-size: 38px;
        line-height: 40px; 
        margin-bottom: 20px;
    } 
    .clients__img {
        width: 50px;
        height: 50px;
    }

    // === repairs ===
    .repairs__title {
        font-size: 34px;
        line-height: 40px;
    }

    // === contact ===
    .contact__title {
        font-size: 34px;
        line-height: 40px;
    }
}

@media (max-width: 338px) {
    // === hero ===
    .hero__title {
        font-size: 54px;
        margin-bottom: 10px;
    }

    .hero__text {
        margin-bottom: 25px;
    }

    // === cards ===
    .cards__title {
        font-size: 26px;
        line-height: 31px;
        margin-bottom: 22px;
    }

    .cards__item {
        padding: 25px;
    }

    // === gudget ===
    .gudget__item-img--small {
        width: 60px;
        height: 60px;
    }

    // === services ===
    .services__picture-title {
        font-size: 28px;
        line-height: 29px;
        margin-bottom: 20px;
    }

}