$container:  1230px;
$font-family1: 'Roboto', sans-serif; 

$lightblue: #C5E3E8;
$lightorange: #F0C59D;
$black: #000000;

%title-style {
    font-size: 80px;
    line-height: 94px;
    font-weight: 700;
}

%text-style {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

%link-style {
    position: relative; 
    font-weight: 500;   
    font-size: 24px;
    line-height: 28px;
    padding-bottom: 8px;
    color: $black;

    
}