@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// === header ===

.header {
    background-color: #F2FCFE;

    &__inner {
        // display: flex;
        // align-items: center;
        min-height: 100px;
        padding: 0 26px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__buttons {
        padding-left: 50px;
    }

    &__btn {
        color: inherit;
        margin-right: 17px;
        font-weight: 500;
        transition: hover .5s;

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn--border {
        border: 2px solid $black;
        padding: 22px 26px 22px 28px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    &__body {
        width: 639px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-item {
        position: relative;
        margin-right: 15px;
        transition: all .5s;

        &:last-child {
            margin-right: 0;
        }
    }

    &__list-link {
        color: inherit;
        font-weight: 500;
        transition: .5s;
        
        &:hover {
            text-decoration: underline;
        }
    }


    &__list-item--sublist {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__sublist {
        position: absolute;
        z-index: 10;
        top: 100%;
        right: -53px;
        background-color: #fff;
        padding: 41px 26px 29px 31px !important;
        width: 220px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .4s ease 0s;
        transform: translateY(30px);
    }

    &__sublist-item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__sublist-link {
        color: inherit;
    }

    &__burger-icon {
        display: none;
    }

    &__arrow {
        // display: block;
        margin-left: 5px;
        cursor: pointer;
        transition: transform .3s;
    }
}

body._pc .menu__list > li:hover .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

body._touch .menu__list > li.menu__list-item--active .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

body._touch .menu__list > li.menu__list-item--active .menu__arrow {
    transform: rotate(-180deg);
}

body._touch .mobile-menu__list > li.mobile-menu__list-item--active .mobile-menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

body._touch .mobile-menu__list > li.mobile-menu__list-item--active .mobile-menu__arrow {
    transform: rotate(-180deg);
}

// === /header ===


// === hero ===

.hero {
    padding-bottom: 50px;

    &__inner {
        position: relative;
    }

    &__box {
        display: flex;
    }

    &__item--pink {
        width: 500px;
        height: 700px;
        background-color: rgba(241, 178, 158, 0.55);
    }

    &__info {
        position: absolute;
        top: 64px;
        left: 60px;
        width: 665px;
        background-color: #fff;
        padding: 60px 75px 35px 50px;
    }

    &__title {
        @extend %title-style;
        margin-bottom: 32px;
    }

    &__text {
        font-size: 23px;
        line-height: 27px;
        max-width: 540px;
        margin-bottom: 40px;
    }

    &__btn {
        font-weight: 500;
        line-height: 26px;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn-black {
        padding: 22px 44px;
        background-color: $black;
        color: #fff;
        margin-right: 13px;
    }

    &__btn-white {
        color: $black;
        background-color: #fff;
        padding: 20px 52px;
        border: 2px solid $black;
    }
}

// === /hero ===


// === cards ===

.cards {
    padding-top: 50px;
    padding-bottom: 50px;   

    &__title {
        @extend %title-style;
        margin-bottom: 50px;
    }

    &__text {
        @extend %text-style;
        margin-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    &__item {
        max-width: 575px;
        padding: 35px;
        display: flex;
        flex-direction: column;
    }

    &__item-logo {
        margin-bottom: 40px;
        width: 100px;
        height: 100px;
    }

    &__item-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px;
        flex: 0 0 auto;
    }

    &__item-text {
        @extend %text-style;
        margin-bottom: 36px;
        flex: 1 0 auto;
    }

    &__item-link {
        position: relative; 
        font-weight: 500;   
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 8px;
        color: $black;
        flex: 0 0 auto;
        
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 115px;
            background-color: $black;    
        }

        &:hover {
            text-decoration: none;
        }
    }

    &__item--darkgreen {
        background-color: #9ACCD2;
    }

    &__item--orange {
        background-color: #F0C59D;
    }

    &__item--purple {
        background-color: #A871B1;
    }

    &__item--lightgreen {
        background-color: #C5E3E8;
    }
}

.cards__item-link:hover::after {
    display: none;
}

// === /cards ===


// === gudget ===

.gudget {
    padding-top: 50px;
    padding-bottom: 50px;   

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item--1 {
        padding: 100px 0 46px 25px;
        max-width: 550px;
    }

    &__title {
        @extend %title-style;
        margin-bottom: 60px;
    }

    &__text {
        @extend %text-style;
    }

    &__text--1 {
        padding-bottom: 25px;
        border-bottom: 1px solid $black;
        margin-bottom: 33px;
    }

    &__subtitle {
        @extend %text-style;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__text--2 {
        margin-bottom: 40px;
    }

    &__images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// === /gudget ===


@import 'media';