@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


// === header ===

.header {
    background-color: #F2FCFE;

    &__inner {
        // display: flex;
        // align-items: center;
        min-height: 100px;
        padding: 0 26px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }

    &__buttons {
        padding-left: 50px;
    }

    &__btn {
        color: inherit;
        margin-right: 17px;
        font-weight: 500;
        transition: hover .5s;

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__btn--border {
        border: 2px solid $black;
        padding: 22px 26px 22px 28px;
    }
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;

    &__body {
        width: 639px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list-item {
        position: relative;
        margin-right: 15px;
        transition: all .5s;

        &:last-child {
            margin-right: 0;
        }
    }

    &__list-link {
        color: inherit;
        font-weight: 500;
        transition: .5s;
        
        &:hover {
            text-decoration: underline;
        }
    }


    &__list-item--sublist {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__sublist {
        position: absolute;
        z-index: 10;
        top: 100%;
        right: -53px;
        background-color: #fff;
        padding: 41px 26px 29px 31px !important;
        width: 220px;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all .4s ease 0s;
        transform: translateY(30px);
    }

    &__sublist-item {
        margin-bottom: 8px;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__sublist-link {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    &__burger-icon {
        display: none;
    }

    &__arrow {
        // display: block;
        margin-left: 5px;
        cursor: pointer;
        transition: transform .3s;
    }
}

body._pc .menu__list > li:hover .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

body._touch .menu__list > li.menu__list-item--active .menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

body._touch .menu__list > li.menu__list-item--active .menu__arrow {
    transform: rotate(-180deg);
}

body._touch .mobile-menu__list > li.mobile-menu__list-item--active .mobile-menu__sublist {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    pointer-events: all;
}

body._touch .mobile-menu__list > li.mobile-menu__list-item--active .mobile-menu__arrow {
    transform: rotate(-180deg);
}

// === /header ===


// === hero ===

.hero {
    padding-bottom: 50px;

    &__inner {
        position: relative;
    }

    &__box {
        display: flex;
    }

    &__item--pink {
        width: 500px;
        height: 700px;
        background-color: rgba(241, 178, 158, 0.55);
    }

    &__item-img {
        max-width: 700px;
    }

    &__info {
        position: absolute;
        top: 64px;
        left: 60px;
        width: 665px;
        background-color: #fff;
        padding: 60px 75px 35px 50px;
    }

    &__title {
        @extend %title-style;
        margin-bottom: 32px;
    }

    &__text {
        @extend %text-style;
        max-width: 540px;
        margin-bottom: 40px;
    }

    &__btn {
        font-weight: 500;
        line-height: 26px;
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    &__btn-black {
        padding: 22px 44px;
        background-color: $black;
        color: #fff;
        margin-right: 13px;
    }

    &__btn-white {
        color: $black;
        background-color: #fff;
        padding: 20px 52px;
        border: 2px solid $black;
    }
}

// === /hero ===


// === cards ===

.cards {
    padding-top: 50px;
    padding-bottom: 50px;   

    &__title {
        @extend %title-style;
        margin-bottom: 50px;
    }

    &__text {
        @extend %text-style;
        margin-bottom: 50px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    &__item {
        max-width: 575px;
        padding: 35px;
        display: flex;
        flex-direction: column;
    }

    &__item-logo {
        margin-bottom: 40px;
        width: 100px;
        height: 100px;
    }

    &__item-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 40px;
        flex: 0 0 auto;
    }

    &__item-text {
        @extend %text-style;
        margin-bottom: 36px;
        flex: 1 0 auto;
    }

    &__item-link {
        @extend %link-style;
        flex: 0 0 auto;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1px;
            width: 115px;
            background-color: $black;    
        }
    
        &:hover {
            text-decoration: none;
        }
        
    }

    &__item--darkgreen {
        background-color: #9ACCD2;
    }

    &__item--orange {
        background-color: #F0C59D;
    }

    &__item--purple {
        background-color: #A871B1;
    }

    &__item--lightgreen {
        background-color: #C5E3E8;
    }
}

.cards__item-link:hover::after {
    display: none;
}

// === /cards ===


// === gudget ===

.gudget {
    padding-top: 50px;
    padding-bottom: 50px;   

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__item--1 {
        padding: 100px 0 46px 25px;
        max-width: 550px;
    }

    &__title {
        @extend %title-style;
        margin-bottom: 60px;
    }

    &__text {
        @extend %text-style;
    }

    &__text--1 {
        padding-bottom: 25px;
        border-bottom: 1px solid $black;
        margin-bottom: 33px;
    }

    &__subtitle {
        @extend %text-style;
        font-weight: 700;
        margin-bottom: 25px;
    }

    &__text--2 {
        margin-bottom: 40px;
    }

    &__images {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// === /gudget ===


// === services ===

.services {
    padding-top: 50px;
    padding-bottom: 50px;

    &__header {
        background-color: #F0C59D;
        padding: 40px 0;
    }

    &__box {
        padding: 0 13px 0 39px;
        display: flex;
        // justify-content: space-between;
    }

    &__title {
        @extend %title-style;
        max-width: 560px;
        margin-right: 13px;
    }

    &__text-box {
        max-width: 554px;
    }

    &__text {
        @extend %text-style;
        margin-bottom: 34px;
    }

    &__link {
        @extend %link-style;  
        border-bottom: 1px solid $black;

        &:hover {
            text-decoration: none;
            border-bottom: none;
        }
    }

    &__slider {
        margin-top: 100px;
        margin-bottom: 100px;   
    }

    &__picture {
        border: 50px solid #65C5D2;
        padding: 62px 23px 62px 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__picture-textbox {
        max-width: 527px;
    }

    &__picture-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
        margin-bottom: 67px;
    }

    &__picture-text {
        @extend %text-style;
        margin-bottom: 44px;
    }

    &__picture-btn {
        display: inline-block;
        background-color: $black;
        color: #fff;
        padding: 22px 44px;

        &:hover {
            text-decoration: underline;
        }
    }
}

// === /services ===



// === clients ===

.clients {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
        @extend %title-style;
        text-align: center;
        margin-bottom: 44px;
    }

    &__text {
        max-width: 1150px;
        margin-left: 15px;
        margin-right: 35px;
        margin-bottom: 66px;
    }

    &__images {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        margin: 0 44px 44px 44px;
    }

    &__link-box {
        text-align: center;
    }

    &__link {
        @extend %link-style;
        margin-bottom: 11px;
        text-align: center;
        display: inline-block;
        
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: $black;
            height: 1px;
            width: 103px;
        }

        &:hover::after {
            height: 0;
        }
    }
}

// === /clients ===


// === repairs ===

.repairs {
    padding-top: 50px;
    padding-bottom: 65px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }

    &__top-textbox {
        margin-right: 27px;
        max-width: 540px;
    }

    &__title {
        @extend %title-style;
        margin-bottom: 22px;
    }

    &__text {
        @extend %text-style;
        margin-bottom: 28px;
    }

    &__link {
        @extend %link-style;
        padding-bottom: 15px;
        border-bottom: 1px solid $black;
        display: inline-block;

        &:hover {
            border: none;
        }
    }

    &__images {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 100px;
    }
}

.accordion {
    margin-left: 100px;
    margin-right: 100px;

    &__item {
        padding-bottom: 40px;
        border-bottom: 1px solid #C4C4C4;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__item-titlebox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    &__item-btns {
        display: flex;
        align-items: center;
    }

    &__item-title {
        font-weight: 700;
        font-size: 50px;
        line-height: 58px;
    }

    &__item-article {
        margin-right: 5px;
        margin-left: 10px;
    }

    &__item-arrow {
        cursor: pointer;
        transition: all .3s;
    }

    &__item-content {
        padding-top: 20px;
        max-height: 0;
        overflow: hidden;
        background-color: transparent;
        transition: max-height .3s ease-out;
    }

    &__item-subtitle {
       font-weight: 700;
       margin-bottom: 10px;
    }

    &__item-text {
        margin-bottom: 20px;
    }

}

.arrow--active {
    transform: rotate(180deg);
}

// === /repairs ===


// === contact ===

.contact {
    padding-top: 73px;
    padding-bottom: 58px;
    background-color: #F3E7E7;

    &__form {
        background-color: #fff;
        max-width: 600px;
        padding: 37px 25px 29px 25px;
    }

    &__title {
        @extend %title-style;
        margin-bottom: 45px;
    }

    &__label-box {
        margin-bottom: 28px;
        margin-left: 29px;
    }

    &__label {
        font-weight: 500;
    }

    &__input {
        border: none;
        border-bottom: 1px solid $black;
        margin-bottom: 37px;
        width: 500px;
        padding: 13px 15px;
        font-weight: 500;
        margin-left: 25px;
    }

    &__form-btn {
        color: #fff;
        background-color: $black;
        border: none;
        cursor: pointer;
        margin: 0 auto;
        display: block;
        width: 500px;
        padding: 16px 0;

        &:hover {
            text-decoration: underline;
        }
    }
}

// === /contact ===


// === footer ===

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #C5E3E8;

    &__title {
        font-weight: 500;
        font-size: 50px;
        line-height: 59px;
        color: $black;
        margin-bottom: 32px;
    }

    &__top {
        padding-bottom: 100px;
        border-bottom: 1px solid $black;
        margin-bottom: 28px;
    }

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__top-contact {
        max-width: 248px;
    }

    &__link {
        color: $black;
        display: block;

        &:hover {
            text-decoration: underline;
        }
    }

    &__top-items {
        display: flex;
    }

    &__links--1 {
        margin-right: 95px;
    }

    &__links--2 {
        margin-right: 138px;    
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

// === /footer ===


@import 'media';